.row {
  padding-left: 20px;
  background-color: #111111;
}

.row__container {
  display: flex;
  overflow: auto;
  padding: 30px 0px;
  padding-left: 20px;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.row__container::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}
.row__image {
  width: 100%;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 0.5s;
}
.row__image:hover {
  transform: scale(1.08);
}
.row__smallImage {
  max-height: 100px;
}
/* .row__smallImage:hover {
  transform: scale(1.07);
} */
.row__largeImage {
  max-height: 300px;
}
